
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Playfair Display", serif;
}

body {
    margin: 20;
    background-color: rgb(174, 211, 225);
    font-size: 25px;
}

h1 {
    color: rgb(94, 75, 54);
}
h2 {
    color: rgb(158, 106, 51);
}
ul {
    color: rgb(38, 48, 52);
}
ol {
    color: rgb(38, 48, 52);
}